

.clsInputLabelTD {
    font:arial,Tahoma,MS Sans Serif; !important;
    color:#000000;
    white-space:nowrap;
}

a {
    color:#0000FF;
    text-decoration:underline;
}

.listcls
{
    padding-top:5px;
 
}

td{
    font-family:arial,Tahoma,MS Sans Serif; 
}

