body {
	direction: rtl;
}
.advLinkCls {
    float: right !important;
}
.okCancelTbl {
	float: left !important;
}
.x-column-header-inner {
    text-align: right !important;
}
.x-grid-cell-inner{
	text-align: right !important;
}
.addClearFilterText{
	float: right !important;
}
#exampleText {
	float: left !important;
	padding-top: 5px !important;
}
.x-form-trigger {
	border-left: 1px solid rgb(217, 217, 217) !important;
    border-right: none!important;
}
.x-form-field {
	border-right: 1px solid rgb(217, 217, 217) !important;
    border-left: none!important;
}
.dateHbCls {
	width: 155px !important;
	margin-left: 3px !important;
}
