.THIS.slds-section-title_divider{
    text-transform: unset;
    letter-spacing: .0rem;
}

.THIS .requiredClass {
    color: #c23934;
    margin: 0 0.125rem;
}

.THIS .applyColor{
    background-color:rgb(249, 249, 250) !important;
}