.THIS .uiInputDate .datePicker-openIcon {
    position: absolute;
    left: 95%;
    top: 30%;
} 

.THIS .uiInputDefaultError li {
   	list-style: none;
}

.THIS .kyc-container{
    position:fixed;
}

.THIS .kyc-wrapper{
    height: 70vh;
    width: 100%;
}

.THIS .kyc-modal-wrapper{
    max-height: 70vh;
}