.form__field:focus {
 padding-bottom: 6px;
 font-weight: 700;
 border-width: 3px;
 border-image: linear-gradient(to right, #11998e ,#38ef7d);
 border-image-slice: 1;
}

.form__group:focus-within .form__label {
  color: #11998e;
  font-weight:700;
}

.direction-demo {
  width: 30vw;
}

:host {
  --slds-c-button-neutral-color-background: red;
}