.THIS .applyColor{
    background-color:rgb(249, 249, 250) !important;
    
}
.THIS .borderColor {
    border-right: 1px solid rgb(187, 188, 189);
}

.THIS.scrollerSize {
    height: 100%;
    width: 100%;
    border-radius: 1px;
}

.THIS .innerDivWrapper {
    min-height: 101%;
    padding-bottom: 20px;
}
.THIS.disablediv {
    pointer-events: none;
}
.THIS.enablediv {
    pointer-events: auto;
}