.THIS .slds-card__header{
    padding: 0;
}

.THIS .slds-card__body{
    margin-bottom: 0;
}

.THIS .floatLeft{
    padding-left: 0.5px;
}

.THIS .important-message {
    font-weight: bold;
    font-size: 150%;
}

.THIS .a {
    text-decoration: none;
}

.THIS .applyColor{
    background-color:rgb(249, 249, 250) !important;
}